.hotspot-title h2{
    text-align: center;
    color: yellow;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Special Gothic Expanded One', sans-serif;
    font-size: 29px;
}

.hotspot-title {
background-color: black;
}

hr {
  border: none;        
  height: 10px;            
  background-color: yellow;  
  width: 100%;              
  margin: 0px; 
}

@media (min-width: 768px) {

    .hotspot-title h2{
    text-align: center;
    color: yellow;
    padding-left: 65px;
    padding-right: 65px;
    font-family: 'Special Gothic Expanded One', sans-serif;
    font-size: 35px;
}

hotspot-title {
background-color: black;
  display: flex;           /* turn on flex */
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center if needed */
}

hr {
  border: none;        
  height: 10px;            
  background-color: yellow;  
  width: 100%;              
  margin: 0px; 
  display: flex;
}

}