.hotspot-title h2{
    text-align: center;
    color: yellow;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Special Gothic Expanded One', sans-serif;
    font-size: 29px;
}

.hotspot-title {
background-color: black;
}

hr {
  border: none;        
  height: 10px;            
  background-color: yellow;  
  width: 100%;              
  margin: 0px; 
}
