.shop-now {
    background: linear-gradient(
    to bottom,
    #a0a0a0 0%,   
    black 30%,  
    black 100%  
  );
}

.shop-now h2 {
    color: yellow;
    font-size: 35px;
    padding-left: 15px;
    padding-top: 50px;
    font-family: 'Special Gothic Expanded One', sans-serif;
}

.shop-now p {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
}

.preorder-section {
  display: flex;                 
  justify-content: center;      
  align-items: center;         
  height: 150px;                
    background-color: black;
  padding-bottom: 50px;
}

.btn-preorder a {
  padding: 10px 20px;            
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: black;
  border: 2px solid #ffd700;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-preorder a:hover {
  background-color: black;
  color: yellow;
  cursor: pointer;
}
